RPCNFSDCOUNT="{{getv "/nfs/rpc/nfsd/count" "8"}}"
RPCNFSDPRIORITY=0
RPCMOUNTDOPTS="{{getv "/nfs/rpc/mount/opts" "--manage-gids"}}"
NEED_SVCGSSD=""
RPCSVCGSSDOPTS=""
RPCNFSDOPTS="{{getv "/nfs/rpc/nfsd/opts"}}"
